<html>
    <%- include('links') %>
    <%- include('menu') %>

<title><%= anime.name %> - Ani+</title>
<div align="left">
    <br>
    <br>
    <br>
    <img style="padding-left: 200px;" class="image1" width="250" height="350" src="<%= anime.cover %>">
    <img style="position: absolute;padding-left: 50px;padding-right:30px;opacity: 0.8;" height="350" src="<%= anime.background %>">
    <br>
</div>
<br>
<h2 style="padding-left: 200px;padding-right: 200px;"><%= anime.name %> - <%= anime.year %></h2></a>
<p style="padding-left: 200px;color: #57F287;padding-right: 200px;"><%= anime.types %>
</p>
<br>
<p style="padding-left: 200px;padding-right: 200px;"><%= anime.description %></p>
<br>
<br>
<div align="center" style="border-radius: 10px;width: 100%;padding-bottom: .25rem;background-color:#57F287;"></div>
<br>
<br>
<h1 style="padding-left: 200px;padding-right: 200px;">Sezonlar (<%= anime.seasonCount %>)</h1></a>
<br>
<br>
<% for(var i = 0; i > anime.seasonCount; i++) { %>
<a href=""><img style="padding-left: 200px;padding-right: 200px;" src="<%= anime.seasons[i.replace(1, 'one').replace(2, 'two')][1] %>" class="image1" width="125" height="175"></a>
<br>
<br>
<b style="padding-left: 200px;padding-right: 200px;">  <%= anime.seasons[i.replace(1, 'one').replace(2, 'two')][0] %></b>
<% } %>
</html>
