<html>
    <%- include('links') %>
    <%- include('menu') %>

<title><%= anime.name %> - Ani+</title>
<div align="left">
    <br>
    <br>
    <br>
    <img style="padding-left: 20px;" class="image1" width="250" height="350" src="<%= anime.cover %>">
    <img class="banner" src="<%= anime.background %>">
    <br>
</div>
<br>
<h2 style="align-items: center; text-align: center;"><%= anime.name %> - <%= anime.year %></h2></a>
<p style="color: #57F287;align-items: center; text-align: center;"><%= anime.types %>
</p>
<br>
<p style="padding-left: 225px;padding-right: 225px;align-items: center; text-align: center;"><%= anime.description %></p>
<br>
<br>
<div align="center" style="border-radius: 10px;width: 100%;padding-bottom: .25rem;background-color:#57F287;"></div>
<br>
<br>
<h1 style="align-items: center; text-align: center;">Sezonlar (<%= anime.seasonCount %>)</h1></a>
<br>
<br>
<a href=""><img style="text-align:center;padding-left: 200px;" src="<%= anime.seasons['1'].cover %>" class="image1" width="125" height="175"></a>
<% if(!anime.seasons['2']) { %>
<% }else{ %>
<a href=""><img style="text-align:center;" src="<%= anime.seasons['2'].cover %>" class="image1" width="125" height="175"></a>  
<% } %>
<% if(!anime.seasons['3']) { %>
<% }else{ %>
    <a href=""><img style="text-align:center;" src="<%= anime.seasons['3'].cover %>" class="image1" width="125" height="175"></a>
<% } %>
<% if(!anime.seasons['4']) { %>
<% }else{ %>
    <a href=""><img style="text-align:center;" src="<%= anime.seasons['4'].cover %>" class="image1" width="125" height="175"></a>
<% } %>
<br><br>
<b style="padding-left: 200px;padding-right: 60px;">  <%= anime.seasons['1'].name %></b>    
<% if(!anime.seasons['2']) { %>
<% }else{ %>
<b style="padding-right: 30px;">  <%= anime.seasons['2'].name %></b>
<% } %>
<% if(!anime.seasons['3']) { %>
<% }else{ %>
    <b style="padding-right: 40px;">  <%= anime.seasons['3'].name %></b>
 <% } %>
 <% if(!anime.seasons['4']) { %>
    <% }else{ %>
        <b>  <%= anime.seasons['4'].name %></b>
     <% } %>
<br><br>
</html>
