<html>
    <%- include('links') %>
    <%- include('menu') %>

<title><%= anime.name %> - Ani+</title>
<div align="left">
    <br>
    <br>
    <br>
    <img style="padding-left:170px;" class="image1" width="250" height="350" src="<%= anime.cover %>">
    <img class="banner" src="<%= anime.background %>">
    <br>
</div>
<script>
    function name() {
        if(document.getElementById("name").textContent == "<%= data.names.hepburn %> - <%= anime.year %>") {
            document.getElementById("name").innerHTML = "<%= data.names.en %> - <%= anime.year %>"
        }else{
   document.getElementById("name").innerHTML = "<%= data.names.hepburn %> - <%= anime.year %>"
        }
    }
    function genislet() {
        document.getElementById("genislet").innerHTML = "<span style='color: #57F287'>Yönetmenler:</span> <%= data.anime.directors.join(', ') %><br><span style='color: #57F287'>Senarist:</span> <%= data.anime.scenarist %><br><span style='color: #57F287'>Müzik:</span> <%= data.anime.music.join(', ') %><br><span style='color: #57F287'>Stüdyo:</span> <%= data.anime.studios.join(', ') %><br><span style='color: #57F287'>Lisans:</span> <%= data.anime.license.join(', ') %><br><span style='color: #57F287'>Kanallar:</span> <%= data.anime.channel.join(', ') %><br><span style='color: #57F287'>Web Sitesi:</span> <a style='text-decoration: none;color: #5865F2;' href='<%= data.anime.website %>'> Tıkla! </a><br>"
    }
</script>
<br>
<h2 style="align-items: center; text-align: center;" id="name" onclick="name()"><%= anime.name %> - <%= anime.year %></h2></a>
<p style="color: #57F287;align-items: center; text-align: center;"><%= anime.types %>
</p>
<br>
<p style="padding-left: 225px;padding-right: 225px;align-items: center; text-align: center;"><%= anime.description %></p>
<br>
<p style="padding-left: 225px;padding-right: 225px;" id="genislet" onclick="genislet()"><span style="color: #5865F2">Daha Fazla Bilgi!</span></p>
<br><br>
<div align="center" style="border-radius: 10px;width: 100%;padding-bottom: .25rem;background-color:#57F287;"></div>
<br>
<br>
<h1 style="align-items: center; text-align: center;">Sezonlar (<%= anime.seasonCount %>)</h1></a>
<br>
<br>
<a href="/anime/<%= n %>/season/1"><img style="text-align:center;padding-left: 200px;" src="<%= anime.seasons['1'].cover %>" class="image1" width="125" height="175"></a>
<% if(!anime.seasons['2']) { %>
<% }else{ %>
<a href="/anime/<%= n %>/season/2"><img style="text-align:center;" src="<%= anime.seasons['2'].cover %>" class="image1" width="125" height="175"></a>  
<% } %>
<% if(!anime.seasons['3']) { %>
<% }else{ %>
    <a href="/anime/<%= n %>/season/3"><img style="text-align:center;" src="<%= anime.seasons['3'].cover %>" class="image1" width="125" height="175"></a>
<% } %>
<% if(!anime.seasons['4']) { %>
<% }else{ %>
    <a href="/anime/<%= n %>/season/4"><img style="text-align:center;" src="<%= anime.seasons['4'].cover %>" class="image1" width="125" height="175"></a>
<% } %>
<br><br>
<b style="padding-left: 200px;padding-right: 70px;">  <%= anime.seasons['1'].name %></b>    
<% if(!anime.seasons['2']) { %>
<% }else{ %>
<b style="padding-right: 30px;">  <%= anime.seasons['2'].name %></b>
<% } %>
<% if(!anime.seasons['3']) { %>
<% }else{ %>
    <b style="padding-right: 40px;">  <%= anime.seasons['3'].name %></b>
 <% } %>
 <% if(!anime.seasons['4']) { %>
    <% }else{ %>
        <b>  <%= anime.seasons['4'].name %></b>
     <% } %>
<br><br>
<div style="padding-left: 225px;padding-right: 225px;" id="disqus_thread"></div>
<script>
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://ani-14.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</html>
