<html>
    <%- include('links') %>
   <!-- <%- include('menu') %> -->

<title><%= anime.name %> - Ani+</title>
<div class="location">
    <a href="/">Ana Sayfa</a> > <a href="/">Animeler</a> > <a href="/anime/<%= n %>"><%= anime.name %></a>
    </div>
    <div class="line"></div><br>
    <div class="card">
        <img class="cover" src="<%= anime.cover %>">
<span class="text">
    <h2><%= anime.name %></h2>
    <%= anime.date %><br>
    <i style="font-size: 15px;color:yellow;" class="fa-solid fa-star"></i> <%= anime.score %> / 10 <a class="link" href="<%= anime.mal %>">(MyAnimeList)</a><br> <i style="font-size: 15px;color:royalblue;" class="fa-solid fa-bookmark"></i>  <a href="#sezonlar"><%= anime.seasonCount %> Sezon</a> - <%= anime.episodes %> Bölüm <br> <i style="font-size: 15px;color:palevioletred;" class="fa-solid fa-eye"></i> <%= anime.type %><br>
    <% anime.types.forEach((item) => { %>
    <span class="genres"><%= item %></span>
    <% }) %><br>
     <i style="font-size:13px;color:paleturquoise;" class="fa-solid fa-circle"></i> <span style="font-size: 15px;"><%= anime.isCompleted ? "TAMAMLANDI" : "YAYINLANIYOR" %></span><br>
     <i style="font-size:13px;color:palevioletred;" class="fa-solid fa-circle"></i> <span style="font-size: 15px;">Bölüm Başına Ortalama <%= anime.duration %></span>
</span>
<p><%= anime.description %></p>
</div>
<div class="line"></div>
<div class="card">
    <h2 id="sezonlar">Sezonlar</h2>
    <% for(let item of Object.keys(anime.seasons)) { %>
    <a href="/anime/<%= n %>/season/<%= item %>"><img src="<%= anime.seasons[`${item}`].cover %>" class="seasoncover"></a>
    <% if(item == anime.seasonCount) { %>
        <br>
    <% } %>
    <% } %><br>
    <% for(let item of Object.keys(anime.seasons)) { %>
    <span class="seasoname"><%= anime.seasons[`${item}`].name %></span>
    <% } %>
</div>
<br><br>
<div class="line"></div>
<div class="comments">
    <br><br>
<div class="principle">
<h2><i class="fa-solid fa-comments"></i> Ani+ Yorum İlkesi</h2> <%= comments.principle %>
</div>
<br>
<br>
<div class="line"></div>
<% if(comments.count == 0) { %>
    <br>
<center>Hiçbir yorum yapılmamış.</center>
<br>
<% }else{ %>
<h2> Yorumlar (<%= comments.count %>)</h2>
<br>
<% for(var i = 1;i < comments.count1;i++) { %>
<div class="comment">
    <img class="pfp" src="<%= comments.comments[`0${i}`].avatar %>"> <span class="text"><b><%= comments.comments[`0${i}`].username %> <% if(comments.comments[`0${i}`].isMod == true) { %> <i style="color: #5865F2;" class="fa-solid fa-hammer"></i> <% }else{ %> <% } %></b><br><%= comments.comments[`0${i}`].comment %><br><i class="fa-solid fa-thumbs-up"></i> <%= comments.comments[`0${i}`].likes %></span><br><br>
</div><br>
<% if(comments.comments[`0${i}`].replies == null) { %>
<% }else{ %>
<div class="subcomment-derece1">
    <img class="pfp" src="<%= comments.comments[`0${i}`].replies[`0${i}`].avatar %>"> <span class="text"><b><%= comments.comments[`0${i}`].replies[`0${i}`].username %> <% if(comments.comments[`0${i}`].replies[`0${i}`].isMod == true) { %> <i style="color: #5865F2;" class="fa-solid fa-hammer"></i> <% }else{ %> <% } %></b><br><%= comments.comments[`0${i}`].replies[`0${i}`].comment %><br><i class="fa-solid fa-thumbs-up"></i> <%= comments.comments[`0${i}`].replies[`0${i}`].likes %></span><br><br>
</div>
<% if(comments.comments[`0${i}`].replies[`0${i}`].replies == null) { %>
    <% }else{ %>
<div class="subcomment-derece2">
    <img class="pfp" src="<%= comments.comments[`0${i}`].replies[`0${i}`].replies[`0${i}`].avatar %>"> <span class="text"><b><%= comments.comments[`0${i}`].replies[`0${i}`].replies[`0${i}`].username %> <% if(comments.comments[`0${i}`].replies[`0${i}`].replies[`0${i}`].isMod == true) { %> <i style="color: #5865F2;" class="fa-solid fa-hammer"></i> <% }else{ %> <% } %></b><br><%= comments.comments[`0${i}`].replies[`0${i}`].replies[`0${i}`].comment %><br><i class="fa-solid fa-thumbs-up"></i> <%= comments.comments[`0${i}`].replies[`0${i}`].replies[`0${i}`].likes %></span><br><br>
</div>
<% } %>
<% } %>
<% } %>
<% } %>
<div class="line"></div>
<br>
<br>
</div>
<!-- <div style="padding-left: 225px;padding-right: 225px;" id="disqus_thread"></div>
<script>
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://ani-14.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript> -->
</html>
