<html>
    <%- include('links') %>
    <%- include('menu') %>

<title><%= anime.name %> <%= season %>.Sezon Bölümleri - Ani+</title>
<div align="left">
    <br>
    <br>
    <br>
    <img style="padding-left:170px;" class="image1" width="250" height="350" src="<%= anime.cover %>">
    <img class="banner" src="<%= anime.background %>">
    <br>
</div>
<br>
<h2 style="align-items: center; text-align: center;"><%= anime.seasons[season].name %> <%= anime.name %> - <%= anime.year %></h2></a>
</p>
<br>
<p style="padding-left: 225px;padding-right: 225px;align-items: center; text-align: center;"><%= anime.description %></p>
<br>
<br>
<div align="center" style="border-radius: 10px;width: 100%;padding-bottom: .25rem;background-color:#57F287;"></div>
<br>
<br>
<h1 style="align-items: center; text-align: center;">Bölümler (<%= dat[season].episodess %>)</h1></a>
<br>
<br>
<% for(var i = 1; i < dat[season].episodess + 1;i++) { %>
<a href="/anime/watch/<%= n %>/<%= season %>/<%= i %>"><img style="padding-left: 200px;" src="<%= anime.background %>"height="210px"></a>
<b style="position: absolute;padding-left:50px;padding-right: 70px;">  <%= i %>. Bölüm: <span style="color: #57F287;"><%= dat[season].episodes[`episode${i}`].name %></span><br>
<%= dat[season].episodes[`episode1`].description %></b><br><br>
<% } %>
<br><br>
<div style="padding-left: 225px;padding-right: 225px;" id="disqus_thread"></div>
<script>
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://ani-14.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</html>
