<html>
    <%- include('links') %>
    <%- include('menu') %>
<% 
Object.size = function(obj) {
  var size = 0,
    key;
  for (key in obj) {
    if (obj.hasOwnProperty(key)) size++;
  }
  return size;
};
%>
<title><%= anime.name %> <%= season %>. Sezon <%= episode %>. Bölüm - Ani+</title>
<div align="left">
    <br>
    <br>
    <br>
    <iframe src="<%= dat[`${season}`][`episodes`][`episode${episode}`].url %>" style="align-items: center; width: 65%; height: 70%; " frameborder="0"></iframe>
</div>
<br>
<h2 style="align-items: center; text-align: center;"><%= anime.name %> - Sezon <%= season %> Bölüm <%= episode %></h2></a>
<p style="align-items: center; text-align: center;color: #57F287;"><%= dat[`${season}`]["episodes"][`episode${episode}`].name %>
</p>
<br>
<p style="padding-left: 225px;padding-right: 225px;align-items: center; text-align: center;"><%= dat[`${season}`]["episodes"][`episode${episode}`].description %></p>
<br>
<br>
<div style="align-items: center; text-align: center;">
<button onclick="prev()" class="button" title="Önceki Bölüm">Önceki Bölüm</button>
<% if(Object.size(dat[`${season}`].episodess) == episode) { %>
<% }else{ %>
<button onclick="next()" class="button" title="Sonraki Bölüm">Sonraki Bölüm</button>
<% } %>
</div>
<br>
<br>
<div align="center" style="border-radius: 10px;width: 100%;padding-bottom: .25rem;background-color:#57F287;"></div>
<br>
<br>
<script>
function next() {
  window.location.href = `<%= '/anime/watch/' + n + '/' + season + '/' + ep1 %>`;
}
function prev() {
  window.location.href = `<%= ep2 == 0 ? '/anime/' + n : '/anime/watch/' + n + '/' + season + '/' + ep2 %>`;
}
</script>
<div style="padding-left: 225px;padding-right: 225px;" id="disqus_thread"></div>
<script>
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://ani-14.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</html>
