<html>
    <%- include('links') %>
<% 
Object.size = function(obj) {
  var size = 0,
    key;
  for (key in obj) {
    if (obj.hasOwnProperty(key)) size++;
  }
  return size;
};
%>
<title><%= anime.name %> <%= season %>. Sezon <%= episode %>. Bölüm - Ani+</title>
<div class="location">
    <a href="/">Ana Sayfa</a> > <a href="/">Animeler</a> > <a href="/anime/<%= n %>"><%= anime.name %></a> > <a href="/anime/watch/%= n %>/<%= season %>/<%= episode %>">Bölüm <%= episode %></a>
    </div>
    <div class="line"></div><br>
    <div class="card">
        <iframe id="vid" width="560" height="315" src="https://ok.ru/videoembed/3113383627390" frameborder="0" allow="autoplay" allowfullscreen></iframe>
<span class="text">
    <h2>Sonun Başlangıcı, Başlangıcı ve Sonu</h2>
    4 Nisan 2016<br>
     <i style="font-size: 15px;color:palevioletred;" class="fa-solid fa-eye"></i> Bölüm<br>
     <i style="font-size:13px;color:paleturquoise;" class="fa-solid fa-circle"></i> <span id="subs" style="font-size: 15px;">LawnosiaSub</span><br><br>
     <button id="subselect" onclick="subsel()">Adonis Fansub</button><br><br>
     <button onclick="prev()" class="button" title="Önceki Bölüm">Önceki Bölüm</button> <button onclick="next()" class="button" title="Sonraki Bölüm">Sonraki Bölüm</button>
</span>
<p>Natsuki Subaru, marketten eve dönerken paralel bir dünyaya çağrılır. İlk başta, hayal dünyasının birdenbire gözlerinin önünde uzanmasıyla büyülenmiştir, ancak onu çağırdığına inandığı sevimli kız hiçbir yerde bulunamaz ve çok geçmeden tamamen kaybolur. Sonra bir serseri çetesi etrafını sarar, ancak paralel bir dünyaya taşınan tüm insanların sahip olması gerektiğini düşündüğü hiçbir güce sahip olmadığını çabucak öğrenir. Tam anlamsız dövülmek üzereyken, bir kız belirir ...</p>
</div>
<div class="line"></div>
</body>
<script>
    function subsel() {
        var sub = document.getElementById("subselect").innerText == "Adonis Fansub" ? "LawnosiaSub" : "Adonis Fansub"
        document.getElementById("subs").innerText = document.getElementById("subselect").textContent
        document.getElementById("subselect").innerText = sub
        if(sub == "LawnosiaSub") {
        document.getElementById("vid").src = "https://www1211.ff-03.com/token=dM7HGmIxw9dSwjJPxKFjdA/1656507358/31.223.0.0/84/c/14/cf4ad415c9370a83babd49e8a379614c-1080p.mp4"
        }else if(sub == "Adonis Fansub") {
            document.getElementById("vid").src = "https://ok.ru/videoembed/3113383627390"
        }
    }
    function next() {
  window.location.href = `<%= '/anime/watch/' + n + '/' + season + '/' + ep1 %>`;
}
function prev() {
  window.location.href = `<%= ep2 == 0 ? '/anime/' + n : '/anime/watch/' + n + '/' + season + '/' + ep2 %>`;
}
</script>
</html>
